.pl {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 150px;
  margin-top:150px; 
  margin-bottom: 150px;
    
}

.pl-texts {
  width: 60%;
}
.pl-title {
  -webkit-text-stroke: 1px #ffffff;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  font-size: 4.5em;
  font-family: 'Modak';
  background-size: 100%;
  text-align: center;
  margin-left:100px;
}

.pl-desc {
  margin: 10px 0px;
}

.pl-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


@media screen and (max-width: 480px) {
  .pl {
    padding: 20px;
    margin-top:350px;
  
  }


  .pl-texts {
    width: 100%;
  }
  
  .pl-title{
    font-size: 50px;
    margin-left:65px;
  }
 
  
}
